<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/timeline_styles.css" />
    <title>Timeline</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <section class="timeline-hero">
        <div class="timeline-hero-area">
            <ul>
            <div class="timeline-hero-text">
                <h1>Fernando Fragateiro</h1>
                <p>Software and Computer Engineer</p>
                <div class="button"><a href="/">Home</a></div>
                <timeline-title>Academic timeline</timeline-title>
            </div>
          </div>
    </section>
    <div class="container">
        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline-content">
                        <ul1>
                            <h1>Degree</h1>
                            <date-container>September 2018 - September 2022</date-container>
                        </ul1>
                        <h2>ISEL - Instituto Superior de Engenharia de Lisboa</h2>
                        <p>Degree in Computer and Software Engineer</p>
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        <ul1>
                            <h1>Degree</h1> 
                            <date-container>September 2016 - July 2018</date-container>
                        </ul1>
                        <h2>UM - Universidade do Minho</h2>
                        <p>Degree in Marketing</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </body>
</html>